@media (min-width: 801px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 800px ) {
  .container {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 95%;
  }
}


.container {
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
}

button a {
  text-decoration: none;
  color: black;
}

#waiting {
  width: 50%;
  margin: 0 auto;
}

#waiting img {
  margin: 0 auto;
}

#post_new_tweet[disabled="disabled"] input[type="submit"] {
  color: #aaa;
}