
<div class="container">
  <h1>Chirpper</h1>

  <% if @user %>
    <div id="submit_new_tweet_container">
      <form id="post_new_tweet" action="/send_tweet" method="post">
        <label for="new_tweet">Enter a tweet: </label>
        <input id="new_tweet" type="text" name="new_tweet">
        <input type="submit">
      </form>
    </div>

    <div id="response_message">
    </div>

    <div id="recent_tweets">
      <ul>

      </ul>
    </div>

  <% else %>
    <button class="signin"><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
</div>
